<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @contact.image %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @contact.deleted_at %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @contact.owner_id %>
</p>

<p>
  <strong>Owner type:</strong>
  <%= @contact.owner_type %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
